[submodule "components/fdv32s30x"]
	path = components/fdv32s30x
	url = git@github.com:sensors-link/phnx-sdk.git
[submodule "examples/fdv32s30x"]
	path = examples/fdv32s30x
	url = git@github.com:sensors-link/phnx-examples.git
